<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
#parse("common/head.vm")
<body>

<!-- Content
================================================== -->
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	#parse("common/header.vm")
	<!-- Header / End -->
	
	<!-- Navigation -->
	#parse("common/navi.vm")
	<!-- Navigation / End -->
	<div class="sixteen columns">
	
		<!-- Page Title -->
		<div id="page-title">
			<h2 style="padding: 10px 0 10px 0;"><a href="$!{viewUtil.getContextPath()}/designer" style="color:#333;font-weight:bold;">设计师 </a><span> / <a href="$!{viewUtil.getContextPath()}/designer/$!{designer.id}" style="color:#aaa">$!{designer.userName}</a></span></h2>
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->

	</div>
</div>
<!-- 960 Container / End -->

<!-- Blog Posts
================================================== -->
<!-- 960 Container -->
<div class="container">
<!-- Widget
================================================== -->
	#parse("designer/profile-left-bar.vm")
	<div class="twelve columns tooltips">
		<div class="headline no-margin"><h4>设计作品 <span class="comments-amount">($!{worksCount})</span></h4><a href="$!{viewUtil.getContextPath()}/designer/$!{designer.id}/works" class="button color" rel="tooltip" data-original-title="查看更多" style="margin:6px 5px 0 0px;padding:2px 5px;float:right">more</a></div>
	</div>
	<div style="min-height:220px;">
    	#foreach($work in $works)
    	<div class="four columns">
        	<div class="picture">
        		<a href="$!{viewUtil.getContextPath()}/designer/$!{designer.id}/works/$!{work.id}.html">
        			<img src="$!{viewUtil.getContextPath()}/static/works/$!{work.workPics.get(0)}" alt="$!{work.workName}" style="height:139px">
        			<div class="image-overlay-link" style="opacity: 0; display: block;"></div>
        		</a>
        	</div>
        	<div class="item-description">
        		<h5><a href="$!{viewUtil.getContextPath()}/designer/$!{designer.id}/works/$!{work.id}.html">$!{work.workName}</a></h5>
        	</div>
        </div>
		#end
	</div>
    <div class="twelve columns">
    	<div class="tooltips" style="min-height:260px;">
    		<div class="headline no-margin"><h4>个人博客 <span class="comments-amount">(0)</span></h4><a href="$!{viewUtil.getContextPath()}/designer/$!{designer.id}/blogs" class="button color" rel="tooltip" data-original-title="查看更多" style="margin:6px 5px 0 0px;padding:2px 5px;float:right">more</a></div>
			#foreach($blog in $blogs)
				<div class="post" style="padding:0px;margin: 0px 0 20px 5px;">
               		<div class="post-content" style="margin:0px;">
               			<div class="post-title" style="font-weight:bold;font-size:18px;">
            				<a href="$viewUtil.getContextPath()/designer/$!{designer.id}/blogs/$!{blog.id}">$blog.title</a>
            			</div>
               			<div class="post-meta">
        					<span><i class="mini-ico-calendar"></i>$viewUtil.fTime("$!{blog.updateTime}")</span>
        					<span><i class="mini-ico-eye-open"></i>阅读（$blog.clickCount）</span>
							#if($curUser.id==$designer.id)
								<span><i class="mini-ico-edit"></i><a href="$viewUtil.getContextPath()/designer/$!{designer.id}/blogs/$!{blog.id}/edit">编辑</a></span>
								<span><i class="mini-ico-trash"></i><a href="#">删除</a></span>
							#end
        				</div>
               		</div>
				</div>
			#end
		</div>
    	<div class="headline no-margin">
			<h4>空间留言 <span class="comments-amount">($!{totalCount})</span></h4>
		</div>
		<div class="comments-sec">
    		<ol class="commentlist">
				#foreach($comment in $comments)
    			<li>
    				<div class="comments">
    					<div class="avatar">
							<a href="$!{viewUtil.getContextPath()}/designer/$!{comment.userId}"><img src="$!{viewUtil.getContextPath()}/static/avatar/#if($!{comment.designer}&&$!{comment.avatar})$!{comment.avatar}#else default.png#end" alt="" style="width:50px;height:50px;" border="0"></a>
						</div>
    					<div class="comment-des">
        					<div class="comment-by">
    							<a href="$!{viewUtil.getContextPath()}/designer/$!{comment.userId}"><strong>#if($!{comment.designer})$!{comment.userName}#else 匿名#end</strong></a>
    							<span class="date">$viewUtil.fTime("$!{comment.commentTime}")</span>
    						</div>
        					<p>$!{comment.content}</p>
    					</div>
    				</div>
    			</li>
				#end
    		</ol>
		</div>
		<div class="clear"></div>
		#parse("common/pagination.vm")
		<div class="form-spacer"></div>
		<!-- Form -->
		<div>
			<label>内容: </label>
			<textarea name="message" id="messageText" style="max-width: 97%;min-width: 97%;height: 150px;margin: 5px 0 15px 0;" #if(!$!{curUser})disabled="disabled"#end>#if(!$!{curUser})请先登录#end</textarea>
			<div class="field">
				#if(!$!{curUser})
					<input type="button" id="signIn" value="登录">
				#else
					<input type="button" id="send" value="发送留言">
				#end
				<div class="success-message">
					<div class="notification success closeable four column" id="notification_1" style="display: block;">
						<p><span>留言成功!</span> 请刷新页面查看留言。</p>
						<a class="close" href="#"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 960 Container / End -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->
<script language="JavaScript">
	$(document).ready(function(){
		$("#signIn").click(function(){
			location.href = "$!{viewUtil.getContextPath()}/sign-in";
		});
		$("#send").click(function(){
			$message = $.trim($("#messageText").val());
			if($message!=""){
				$("#messageText").css('border','1px solid #d8d8d8');
				$("#messageText").css('background','#ffffff');
				$.ajax({
					type: 'POST',
					url: "$!{viewUtil.getContextPath()}/designer/$!{designer.id}/message",
					data: {
						message: $message
					},
					success: function( data ) {
            			$(".success-message").css('display','block');
            			$("#notification_1").css('display','block');
						$("send").css('disabled','disabled');
						location.href="$!{viewUtil.getContextPath()}/designer/$!{designer.id}";
					}
				});
			}else{
				$("#messageText").css('border','1px solid #f2c4c2');
				$("#messageText").css('background','#ffeceb');
			}
		});
	})
</script>
</body>
</html>