<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
#parse("common/head.vm")
<!-- 配置文件 -->
<script type="text/javascript">
	window.UEDITOR_HOME_URL = "$viewUtil.getContextPath()/static/ueditor/";
</script>
<script type="text/javascript" src="$viewUtil.getContextPath()/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="$viewUtil.getContextPath()/static/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="$viewUtil.getContextPath()/static/ueditor/lang/zh-cn/zh-cn.js"></script>
<body>
<!-- Content
================================================== -->
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->
<!-- 960 Container -->
<div class="container ie-dropdown-fix">
	<!-- Header -->
	#parse("common/header.vm")
	<!-- Header / End -->
	<!-- Navigation -->
	#parse("common/navi.vm")
	<!-- Navigation / End -->
	<div class="sixteen columns">
		<!-- Page Title -->
		<div id="page-title">
			<h2 style="padding: 10px 0 10px 0;"><a href="$!{viewUtil.getContextPath()}/designer" style="color:#333;font-weight:bold;">设计师 </a><span> / <a href="$!{viewUtil.getContextPath()}/designer/$!{designer.id}" style="color:#aaa">$!{designer.userName}</a></span></h2>
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->
	</div>
</div>
<!-- 960 Container / End -->
<!-- Blog Posts
================================================== -->
<!-- 960 Container -->
<div class="container">
<!-- Widget
================================================== -->
	#parse("designer/profile-left-bar.vm")
    <div class="twelve columns">
		<div class="headline" style="margin-top:0;"><h3>编辑博文</h3></div>
		<!-- Success Message -->
		<div class="success-message">
			<div class="notification success closeable">
				<p><span>编辑失败!</span> 请登陆后再尝试。</p>
			</div>
		</div>
		<div id="blog-form">
			<form id="blogForm" method="post" action="$!{viewUtil.getContextPath()}/designer/$!{curUser.id}/blogs/$!{blog.id}/edit">
				<div class="field">
					<label>博文标题: <span>*</span></label>
					<input type="text" name="title" class="text"/ value="$!{blog.title}">
				</div>
				<div class="field">
					<label>原创/转载: <span>*</span></label>
					<input type="radio" name="original" class="text" value="1" style="width:20px;"#if(!$blog.isReprinted()) checked#end>原创</input>
					<input type="radio" name="original" class="text" value="0" style="width:20px;"#if($blog.isReprinted()) checked#end>转载</input>
				</div>
				<div class="field">
					<label>分类: <span>*</span></label>
					<select name="category" class="text"/>
						<option value="1" #if($blog.type==1)selected="selected"#end>网荐博文</option>
						<option value="2" #if($blog.type==2)selected="selected"#end>产业要闻</option>
						<option value="3" #if($blog.type==3)selected="selected"#end>品牌创建</option>
						<option value="4" #if($blog.type==4)selected="selected"#end>科技创新</option>
						<option value="5" #if($blog.type==5)selected="selected"#end>管理艺术</option>
						<option value="6" #if($blog.type==6)selected="selected"#end>潮流趋势</option>
						<option value="7" #if($blog.type==7)selected="selected"#end>设计营销</option>
						<option value="8" #if($blog.type==8)selected="selected"#end>作品赏析</option>
						<option value="9" #if($blog.type==9)selected="selected"#end>设计学堂</option>
						<option value="10" #if($blog.type==10)selected="selected"#end>创意论坛</option>
					</select>
				</div>
				<div class="field">
					<label>博文内容: <span>*</span></label>
					<script type="text/plain" id="container" name="content">$!{blog.content}</script>
				</div>
				<div class="field">
					<input type="button" id="blogBtn" value="提交" />
					<div class="loading"></div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 960 Container / End -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->

<script language="JavaScript">
$formAction = $("#blogForm").attr("action");
$contextPath = "$!{viewUtil.getContextPath()}";
var designerId = "$!{designer.id}";
var editor = UE.getEditor('container')
$(document).ready(function(){
});
</script>
<style>
</style>
</body>
</html>