<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
#parse("common/head.vm")
<body>

<!-- Content
================================================== -->
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	#parse("common/header.vm")
	<!-- Header / End -->
	
	<!-- Navigation -->
	#parse("common/navi.vm")
	<!-- Navigation / End -->
	<div class="sixteen columns">
	
		<!-- Page Title -->
		<div id="page-title">
			<h2 style="padding: 10px 0 10px 0;"><a href="$!{viewUtil.getContextPath()}/designer" style="color:#333;font-weight:bold;">设计师之家 </a></h2>
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->

	</div>
</div>
<!-- 960 Container / End -->

<!-- Blog Posts
================================================== -->
<!-- 960 Container -->
<div class="container">
<!-- Widget
================================================== -->
    <div class="twelve columns"> 
		<!-- Headline -->
		<!-- Tabs Navigation -->
		<ul class="tabs-nav" style="font-size:18px;">
			<li class="active"><a href="#tab1"><i class="mini-ico-exclamation-sign" style="margin-top: 6px;"></i> 最新博文</a></li>
			<li class=""><a href="#tab2"><i class="mini-ico-star" style="margin-top: 6px;"></i> 热门博文</a></li>
		</ul>
		<!-- Tabs Content -->
		<div class="tabs-container">
			<div class="tab-content" id="tab1" style="display: block;padding:8px;">
				<ul style="list-style:none;">
					#foreach($blog in $recentBlogs)
						#if($velocityCount>2)
						<li style="float:left;width:48%;margin:4px 6px;font-size:14px;">
							<div style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
							<a href="$!{viewUtil.contextPath}/designer/$!{blog.designerId}/blogs/$!{blog.id}" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">$!{blog.title}</a>
							</div>
						</li>
						#else
						<li style="float:left;width:48%;height:80px;margin:4px 6px;font-size:14px;font-weight:bold;">
							<a href="$!{viewUtil.contextPath}/designer/$!{blog.designerId}">
								<img src="$!{viewUtil.contextPath}/static/avatar/#if($blog.designerAvatar)$blog.designerAvatar#else default.png#end" style="float:left;width:55px;height:55px;border:1px solid #ddd;padding:4px;margin-top:4px;"/>
							</a>
							<p style="margin-left:80px;">
								<a href="$!{viewUtil.contextPath}/designer/$!{blog.designerId}/blogs/$!{blog.id}" style="display:block;margin-bottom:4px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">$!{blog.title}</a>
								<span style="display:block;font-size:12px;line-height: 18px;font-weight:normal;">$!{blog.intro}</span>
							</p>
						</li>
						#end
					#end
				</ul>
			</div>
			<div class="tab-content" id="tab2" style="display: none;display: block;padding:8px;">
				<ul style="list-style:none;">
					#foreach($blog in $hotBlogs)
						#if($velocityCount>2)
						<li style="float:left;width:48%;margin:4px 6px;font-size:14px;">
							<div style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
							<a href="$!{viewUtil.contextPath}/designer/$!{blog.designerId}/blogs/$!{blog.id}" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">$!{blog.title}</a>
							</div>
						</li>
						#else
						<li style="float:left;width:48%;height:80px;margin:4px 6px;font-size:14px;font-weight:bold;">
							<a href="$!{viewUtil.contextPath}/designer/$!{blog.designerId}">
								<img src="$!{viewUtil.contextPath}/static/avatar/#if($blog.designerAvatar)$blog.designerAvatar#else default.png#end" style="float:left;width:55px;height:55px;border:1px solid #ddd;padding:4px;margin-top:4px;"/>
							</a>
							<p style="margin-left:80px;">
								<a href="$!{viewUtil.contextPath}/designer/$!{blog.designerId}/blogs/$!{blog.id}" style="display:block;margin-bottom:4px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">$!{blog.title}</a>
								<span style="display:block;font-size:12px;line-height: 18px;font-weight:normal;">$!{blog.intro}</span>
							</p>
						</li>
						#end
					#end
				</ul>
			</div>
		</div>
		<!-- Tabs Navigation -->
		<ul class="tabs-nav" style="font-size:18px;">
			<li class="active"><a href="#tab3"><i class="mini-ico-exclamation-sign" style="margin-top: 6px;"></i> 最新作品</a></li>
			<li class=""><a href="#tab4"><i class="mini-ico-star" style="margin-top: 6px;"></i> 优秀作品</a></li>
		</ul>
		<!-- Tabs Content -->
		<div class="tabs-container">
			<div class="tab-content" id="tab3" style="display: block;padding:8px;">
				<ul style="list-style:none;">
					#foreach($work in $recentWorks)
					<li style="float:left;width:200px;margin:0px 11px;">
						<div class="picture" style="">
                    		<a href="$!{viewUtil.contextPath}/designer/$!{work.designerId}/works/$!{work.id}.html" >
                    			<img src="$!{viewUtil.contextPath}/static/works/$!{work.workPics.get(0)}" alt="$!{work.workName}" style="height:139px">
                    			<div class="image-overlay-link" style="opacity: 0; display: block;"></div>
                    		</a>
                    	</div>
						<div class="item-description" style="margin-bottom:10px;">
                    		<h5><a href="$!{viewUtil.contextPath}/designer/$!{work.designerId}/works/$!{work.id}.html">$!{work.workName}</a></h5>
                    	</div>
					</li>
					#end
				</ul>
			</div>
			<div class="tab-content" id="tab4" style="display:none;display: block;padding:8px;">
				<ul style="list-style:none;">
					#foreach($work in $hotWorks)
					<li style="float:left;width:200px;margin:0px 11px;">
						<div class="picture" style="">
                    		<a href="$!{viewUtil.contextPath}/designer/$!{work.designerId}/works/$!{work.id}.html" >
                    			<img src="$!{viewUtil.contextPath}/static/works/$!{work.workPics.get(0)}" alt="$!{work.workName}" style="height:139px">
                    			<div class="image-overlay-link" style="opacity: 0; display: block;"></div>
                    		</a>
                    	</div>
						<div class="item-description" style="margin-bottom:10px;">
                    		<h5><a href="$!{viewUtil.contextPath}/designer/$!{work.designerId}/works/$!{work.id}.html">$!{work.workName}</a></h5>
                    	</div>
					</li>
					#end
				</ul>
			</div>
		</div>
	</div>
	<div class="four columns">
		<div class="headline no-margin"><h3>最受欢迎 TOP</h3></div>
		#foreach($designer in $popularDesigners)
		<div class="top-designer">
			<a href="$!{viewUtil.contextPath}/designer/$!{designer.id}"><img src="$!{viewUtil.contextPath}/static/avatar/#if($designer.avatar)$designer.avatar#else default.png#end" class="top-designer-img" alt="" style="height:65px;"></a>
			<div class="clear"></div>
			<div class="top-designer-name"><a href="$!{viewUtil.contextPath}/designer/$!{designer.id}">$!{designer.userName}</a></div>
		</div>
		#end
		<div class="headline no-margin"><h3>最勤奋 TOP</h3></div>
		#foreach($designer in $hardWorkingDesigners)
		<div class="top-designer">
			<a href="$!{viewUtil.contextPath}/designer/$!{designer.id}"><img src="$!{viewUtil.contextPath}/static/avatar/#if($designer.avatar)$designer.avatar#else default.png#end" class="top-designer-img" alt="" style="height:65px;"></a>
			<div class="clear"></div>
			<div class="top-designer-name"><a href="$!{viewUtil.contextPath}/designer/$!{designer.id}">$!{designer.userName}</a></div>
		</div>
		#end
	</div>
</div>
<!-- 960 Container / End -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->
<script language="JavaScript">
$formAction = $("#profileForm").attr("action");
$contextPath = "$!{viewUtil.getContextPath()}";
var designerId = "$!{designer.id}";
</script>
</body>
</html>