<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
#parse("common/head.vm")
<body>

<!-- Content
================================================== -->
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	#parse("common/header.vm")
	<!-- Header / End -->
	
	<!-- Navigation -->
	#parse("common/navi.vm")
	<!-- Navigation / End -->
	<div class="sixteen columns">
	
		<!-- Page Title -->
		<div id="page-title">
			<h2>设计师 <span>/ <a href="$!{viewUtil.getContextPath()}/designer/$!{designer.id}" style="color:#aaa">$!{designer.userName}</a></span></h2>
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->

	</div>
</div>
<!-- 960 Container / End -->

<!-- Blog Posts
================================================== -->
<!-- 960 Container -->
<div class="container">
<!-- Widget
================================================== -->
	#parse("designer/profile-left-bar.vm")
    <div class="twelve columns"> 
		<div class="headline" style="margin-top:0;"><h3>发布作品</h3></div>
		<!-- Success Message -->
		<div class="success-message">
			<div class="notification success closeable">
				<p><span>上传失败!</span> 请登陆后再尝试。</p>
			</div>
		</div>
		<div id="postWork-form">
			<form id="postWorkForm" method="post" action="$!{viewUtil.getContextPath()}/designer/$!{curUser.id}/admin/new-work" enctype="multipart/form-data" method="post">
				<div class="field">
					<label>作品标题: <span>*</span></label>
					<input type="text" name="title" class="text"/>
				</div>	
				<div class="field">
					<label>作品图片: <span>*</span></label>
					<input type="file" name="file" class="text"/>
				</div>				
				<div class="field">
					<label>作品简介: <span>*</span></label>
					<textarea name="intro" class="text textarea"></textarea>
				</div>
				<div class="field">
					<input type="submit" id="postWorkBtn" value="上传" />
					<div class="loading"></div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 960 Container / End -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->
<script language="JavaScript">
	$(document).ready(function(){
		$("#postWorkForm").submit(function(){
			if($('input[name=title]').val()==''){
				return false;
			}else{
				return true;
			}
		});
	});
</script>
</body>
</html>