    <!-- avatar, profile -->
	<div class="four columns">
    	<div>
        	<a href="$!{viewUtil.getContextPath()}/designer/$!{designer.id}"><img src="$!{viewUtil.getContextPath()}/static/avatar/#if($designer.avatar)$!{designer.avatar}#else default.png#end" alt="" style="width:220px;height:240px;"></a>
        	<div class="team-name tooltips"><h5><a href="$!{viewUtil.getContextPath()}/designer/$!{designer.id}" style="color:#333">$!{designer.userName}</a> #if($ownCenter==true)<a href="/designer/$!{designer.id}/admin/profile" rel="tooltip" data-original-title="修改个人资料 ">修改个人资料</a>#end</h5> <span>Email: $!{designer.email}</span></div>
        	<div class="team-about"><p>$!{designer.intro}</p>
    		</div>
    	</div>
    	<div class="clear"></div>
    	<!-- Categories -->
    	#if($ownCenter==true)
    		<a href="/designer/$!{designer.id}/admin/new-work" class="button color medium">发布作品</a>
    		<a href="/designer/$!{designer.id}/admin/new-blog" class="button color medium">发表博文</a>
    	#else
    		<a href="/designer/$!{designer.id}/works" class="button color medium">设计作品</a>
    		<a href="/designer/$!{designer.id}/blogs" class="button color medium">个人博客</a>
    	#end
    </div>