/BLOGS_SqlMap.xml
/COMMENTS_SqlMap.xml
/FOLDERS_SqlMap.xml
/TAGS_SqlMap.xml
/USERS_SqlMap.xml
/cn
/config.xml
/sqlMapConfig.xml
/ARTICLE_SqlMap.xml
/ADMIN_SqlMap.xml
/CATEGORY_SqlMap.xml
/SLIDE_SqlMap.xml
/UPLOAD_SqlMap.xml
