<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
#parse("common/head.vm")
<body>
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->
    <!-- 960 Container -->
    <div class="container ie-dropdown-fix">
    	<!-- Header -->
    	#parse("common/header.vm")
    	<!-- Header / End -->
    	<!-- Navigation -->
    	#parse("common/navi.vm")
    	<!-- Navigation / End -->
    </div>
    <!-- 960 Container / End -->
    <!-- 960 Container -->
    <div class="container">
		<div class="sixteen columns">
    		<div id="page-title">
    			<h2 style="padding: 10px 0 10px 0;">
					<a href="$!{viewUtil.getContextPath()}/activity" style="color:#333">活动赛事</a>
					<span> / <a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}" style="color:#aaa">$!{activity.title}</a></span>
				</h2>
    			<div id="bolded-line"></div>
    		</div>
    	</div>
    	<div class="twelve columns">
            <!-- Headline -->
            <div class="no-margin icon-box tooltips" style="height: 45px;"><i class="ico-podium" style="margin:-7px 0 0 -10px;"></i>
            	<h3>参赛作品</h3>
    		</div>
			#foreach($work in $works)
			<div style="width:220px;float:left;#if($velocityCount==1)margin-right:10px;#elseif($velocityCount==3)margin-left:10px;#else margin:0 10px;#end">
        		<div class="picture">
        			<a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/works/$!{work.id}">
        				<img src="$!{viewUtil.getContextPath()}/static/works/$!{work.workPics.get(0)}" style="height:139px" />
        				<div class="image-overlay-link" style="opacity: 0; display: block;"></div>
        			</a>
        		</div>
        		<div class="item-description" style="margin-top:10px;">
					<div style="display:inline;width:160px;">
						<a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/works/$!{work.id}" style="font-weight:bold;margin-bottom:10px;">$!{work.workName}</a>
						<br/>票数：$!{work.voteCount}
					</div>
					<div style="display:inline">
						<label class="button color vote" style="color:#fff;margin:-15px 0px -10px 0px;float:right;" voteTo="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/works/$!{work.id}/vote">投票</label>
					</div>
				</div>
			</div>
			#end
			
			<div class="clear"></div>
			#if($pageCount>1)
           	<ul class="pagination">
        		#if($pageIndex<=5)
        			#set($base = 1)
        			#if($pageCount<=10)
        				#set($high = $pageCount)
        			#else
        				#set($high = 10)
        			#end
        		#else
    				<a href="$!{viewUtil.getContextPath()}$!{url}?pn=1"><li>首页</li></a>
        			#set($base = $pageIndex - 4)
        			#if($pageCount > $pageIndex + 5)
        				#set($high = $pageIndex + 5)
        			#else
        				#set($high = $pageCount)
        			#end
        		#end
        		#foreach($i in [$base..$high])
        			#if($pageIndex!=$i)<a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/works?pn=$i">#end
        				<li #if($pageIndex==$i)class="current"#end>$i</li>
        			#if($pageIndex!=$i)</a>#end
        		#end
        		#if($pageIndex<$pageCount)
        			#set($next = $pageIndex + 1)
           		<a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/works?pn=$!{next}"><li>下一页></li></a>
           		<a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/works?pn=$!{pageCount}"><li>尾页</li></a>
        		#end
           	</ul>
    		#end
    		<div style="padding-top: 20px;">共 $!{pageCount} 页 $!{workCount} 条</div>
		</div>
		#parse("activity/activityRightBar.vm")
    </div>
    <!-- End 960 Container -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->
</body>
<script language="JavaScript">
$contextPath = "$!{viewUtil.getContextPath()}";
$(document).ready(function(){
    $(".vote").click(function(){
    	$url = $(this).attr('voteTo');
    	jQuery.ajax({
    		url: $url,
    		type: "POST",
    		cache: false,
    		// Success
    		success: function (html) {		
    			if (html==0) {
    				//未登录
    				location.href=$contextPath+"/sign-in";
    			}else if(html==3){
    				//成功投票
    				location.reload();
    			}else{
    				//无此活动
    				//无此作品
    				alert("未知错误");
    				location.href=$contextPath+"/activity";
    			}
    		}
    	});
    });
});
</script>
</html>