<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
#parse("common/head.vm")
<body>
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->
    <!-- 960 Container -->
    <div class="container ie-dropdown-fix">
    	<!-- Header -->
    	#parse("common/header.vm")
    	<!-- Header / End -->
    	<!-- Navigation -->
    	#parse("common/navi.vm")
    	<!-- Navigation / End -->
    </div>
    <!-- 960 Container / End -->
    <!-- 960 Container -->
    <div class="container">
		<div class="sixteen columns">
    		<div id="page-title">
    			<h2 style="padding: 10px 0 10px 0;">
					<a href="$!{viewUtil.getContextPath()}/activity" style="color:#333">活动赛事</a>
					<span> / <a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}" style="color:#aaa">$!{activity.title}</a></span>
				</h2>
    			<div id="bolded-line"></div>
    		</div>
    	</div>
    	<div class="twelve columns">
			<div class="post">
        		<div class="title-pic">
        			<img src="$!{viewUtil.getContextPath()}$!{activity.titlePic}" alt="$!{activity.title}">
        		</div>
        		<div class="post-content" style="margin-left:0px;">
        			<div class="post-title"><h2>$!{viewUtil.getContextPath()}$!{activity.title}</h2></div>
        			<div class="post-meta">
						<span><i class="mini-ico-calendar"></i>$!{activity.actBeginTime} 至 $!{activity.actEndTime}</span>
					</div>
        			<div class="post-description">
        				<p>$!{activity.title}</p>
        			</div>
        		</div>
        	</div>
            <!-- Headline -->
            <div class="no-margin icon-box tooltips" style="height: 45px;"><i class="ico-podium" style="margin:-7px 0 0 -10px;"></i>
            	<a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/works" class="button color" rel="tooltip" data-original-title="查看更多" style="margin:6px 5px 0 0px;padding:2px 5px;float:right">more</a>
            	<h3>参赛作品</h3>
    		</div>
			#foreach($recentWork in $recentWorks)
			<div style="width:220px;float:left;#if($velocityCount==1)margin-right:10px;#elseif($velocityCount==3)margin-left:10px;#else margin:0 10px;#end">
        		<div class="picture">
        			<a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/works/$!{recentWork.id}">
        				<img src="$!{viewUtil.getContextPath()}/static/works/$!{recentWork.workPics.get(0)}" style="height:139px" />
        				<div class="image-overlay-link" style="opacity: 0; display: block;"></div>
        			</a>
        		</div>
        		<div class="item-description">
        			<h5><a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/works/$!{recentWork.id}">$!{recentWork.workName}</a><label>票数：$!{recentWork.voteCount}</label></h5>
        		</div>
			</div>
			#end
			<div class="clear"></div>
            <div class="no-margin icon-box tooltips" style="height: 45px;"><i class="ico-magic" style="margin:-7px 0 0 -10px;"></i>
            	<a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/photos" class="button color" rel="tooltip" data-original-title="查看更多" style="margin:6px 5px 0 0px;padding:2px 5px;float:right">more</a>
            	<h3>活动现场</h3>
    		</div>
			#foreach($recentPhoto in $recentPhotos)
			<div style="width:220px;float:left;#if($velocityCount==1)margin-right:10px;#elseif($velocityCount==3)margin-left:10px;#else margin:0 10px;#end">
        		<div class="picture">
        			<a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/photos/$!{recentPhoto.id}" >
        				<img src="$!{recentPhoto.picUri}" style="height:139px" />
        				<div class="image-overlay-link" style="opacity: 0; display: block;" ></div>
        			</a>
        		</div>
        		<div class="item-description">
					<h5></h5>
        			<p>$!{recentPhoto.intro}</p>
        		</div>
			</div>
			#end
		</div>
		#parse("activity/activityRightBar.vm")
    </div>
    <!-- End 960 Container -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->
</body>
<script language="JavaScript">
$formAction = $("#registertForm").attr("action");
$contextPath = "$!{viewUtil.getContextPath()}";
</script>
</html>