<div id="footer">
	<!-- 960 Container -->
	<div class="container">
		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom" style="text-align:center">
				嘉兴市工业设计协会 &copy;  版权所有<br/>
				CoSEr 技术支持
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>
	</div>
	<!-- 960 Container / End -->
</div>