<div id="footer">
	<!-- 960 Container -->
	<div class="container">
		<!-- About 
		<div class="four columns">
			<div class="footer-headline"><h4>关于我们</h4></div>
			<p>$!{contactIntro}</p>
		</div>
		-->
		<!-- Web cats -->
		<div class="sixteen columns footer-headline"><h4>友情链接</h4></div>
		#foreach($link in $links)
		<div class="four columns">
			<ul class="links-list">
				<li><a href="$!{link.url}">$!{link.name}</a></li>
			</ul>
		</div>
		#end
		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom" style="text-align:center">
				<div>嘉兴市工业设计协会 &copy;  版权所有</div>
				<div>CoSEr 技术支持</div>
				<div>地址：$!{location}</div>
				<div>电话：$!{phone} &nbsp;&nbsp;&nbsp;邮箱：$!{email}</div>
				<center>
					<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253188255'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253188255%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>
				</center>
				<div id="scroll-top-top" class="tooltips"><a href="#" rel="tooltip" data-original-title="回到顶部" ></a></div>
			</div>
		</div>
	</div>
	<!-- 960 Container / End -->
</div>