	<!-- Header -->
	<div id="header">
		<!-- Logo -->
		<div class="ten columns">
			<div id="logo" style="margin:0 auto 22px 10px">
				<a href="$!{viewUtil.getContextPath()}/"><img src="$!{viewUtil.getContextPath()}/static/images/jida-logo.jpg" alt="logo" /></a>
				<div class="clear"></div>
			</div>
		</div>
		<!-- Social / Contact -->
		<div class="six columns">
			<!-- Social Icons -->
			<div class="tooltips">
    			<ul class="social-icons">
					#foreach($social in $socials)
    				<li class="$!{social.parameterKey}"><a href="$!{social.parameterValue}">$!{social.parameterName}</a></li>
					#end
    			</ul>
    			<div class="clear"></div>
    			<!-- Contact Details -->
    			<div id="contact-details" style="margin-top:100px">
    				<ul>
    					<li><i class="mini-ico-envelope"></i><a href="$!{viewUtil.getContextPath()}/contact.html" rel="tooltip" data-original-title="给我们留言">${email}</a></li>
    					<li><i class="mini-ico-user"></i>${phone}</li>
    				</ul>
    			</div>
			</div>
		</div>

	</div>
	<!-- Header / End -->