	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo" style="margin:0 auto 22px 10px">
				<a href="/"><img src="/static/images/jida-logo.png" alt="logo" /></a>
			<!--	<div id="tagline">嘉兴市工业设计协会</div> -->
				<div class="clear"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">
			<!-- Social Icons -->
			<div class="tooltips">
    			<ul class="social-icons">
    				<li class="facebook"><a href="#">Facebook</a></li>
    				<li class="twitter"><a href="#">Twitter</a></li>
    				<li class="dribbble"><a href="#">Dribbble</a></li>
    				<li class="linkedin"><a href="#">LinkedIn</a></li>
    				<li class="pintrest"><a href="#">Pintrest</a></li>
    			</ul>
    			<div class="clear"></div>
    			<!-- Contact Details -->
    			<div id="contact-details" style="margin-top:70px">
    				<ul>
    					<li><i class="mini-ico-envelope"></i><a href="/contact.html" rel="tooltip" data-original-title="给我们留言">${email}</a></li>
    					<li><i class="mini-ico-user"></i>${phone}</li>
    				</ul>
    			</div>
			</div>
		</div>

	</div>
	<!-- Header / End -->