	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo">
				<a href="/"><img src="/static/images/logo.png" alt="logo" /></a>
				<div id="tagline">嘉兴市工业设计协会</div>
				<div class="clear"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">
			<!-- Social Icons -->
			<ul class="social-icons">
				<li class="facebook"><a href="#">Facebook</a></li>
				<li class="twitter"><a href="#">Twitter</a></li>
				<li class="dribbble"><a href="#">Dribbble</a></li>
				<li class="linkedin"><a href="#">LinkedIn</a></li>
				<li class="pintrest"><a href="#">Pintrest</a></li>
			</ul>
			<div class="clear"></div>
			<!-- Contact Details -->
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-envelope"></i><a href="#">support@centum.com</a></li>
					<li><i class="mini-ico-user"></i>+48 880 450 120</li>
				</ul>
			</div>
		</div>

	</div>
	<!-- Header / End -->