<div class="sixteen columns">
	<div id="navigation">
		<ul id="nav">
			<li><a href="$!{viewUtil.getContextPath()}/">首页</a></li>
			#foreach($root in $cats)
			<li><a href="$!{viewUtil.getContextPath()}/${root.uriName}#if($root.children.size()==0).html#end">$root.catName</a>
				#set($children = $root.children)
				#if($children.size()>0)
    				<ul>
    				#foreach($child in $children)
    				<li><a href="$!{viewUtil.getContextPath()}/${root.uriName}/cat-${child.id}">$child.catName</a></li>
    				#end
    				</ul>
				#end
			</li>
			#end
			<li><a href="$!{viewUtil.getContextPath()}/contact.html">联系我们</a></li>		
		</ul>
	</div> 
	<div style="width:100%;height:50px;border-bottom:2px solid #444"></div> 
	<div class="clear"></div>
</div>