			#if($pageCount>1)
           	<ul class="pagination">
        		#if($pageIndex<=5)
        			#set($base = 1)
        			#if($pageCount<=10)
        				#set($high = $pageCount)
        			#else
        				#set($high = 10)
        			#end
        		#else
    				<a href="$!{uri}?pn=1"><li>首页</li></a>
        			#set($base = $pageIndex - 4)
        			#if($pageCount > $pageIndex + 5)
        				#set($high = $pageIndex + 5)
        			#else
        				#set($high = $pageCount)
        			#end
        		#end
        		#foreach($i in [$base..$high])
        			#if($pageIndex!=$i)<a href="$!{uri}?pn=$i">#end
        				<li #if($pageIndex==$i)class="current"#end>$i</li>
        			#if($pageIndex!=$i)</a>#end
        		#end
        		#if($pageIndex<$pageCount)
        			#set($next = $pageIndex + 1)
           		<a href="$!{uri}?pn=$!{next}"><li>下一页></li></a>
           		<a href="$!{uri}?pn=$!{pageCount}"><li>尾页</li></a>
        		#end
           	</ul>
    		#end
    		<div style="padding-top: 20px;">共 $!{pageCount} 页 $!{totleCount} 条</div>