<form id="searchForm" method="GET" action="$!{viewUtil.getContextPath()}/search">
	<input type="text" name="keyword" onblur="if(this.value=='')this.value='';" onfocus="if(this.value=='')this.value='';" value="" class="text" style="width:68%;display:inline-block;vertical-align: text-top;">
    <a href="#" id="searchBtn" class="color ico-white ico-search" rel="tooltip" data-original-title="搜索文章" style="margin:0px 0px 0 7px;padding:2px 2px;display:inline-block;background-color:#72b626;background-repeat: no-repeat;background-position:-342px -102px;width:30px;height:30px;vertical-align: text-top;"></a>
</form>