<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Admin Dashboard</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="/static/css/fullcalendar.css" />	
		<link rel="stylesheet" href="/static/css/unicorn.main.css" />
		<link rel="stylesheet" href="/static/css/unicorn.grey.css" class="skin-color" />
	    
	</head>
	
	<body>
	
		<div id="header">
			<h1><a href="#">管理员平台</a></h1>		
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text"><strong>${login_admin}</strong></span></a></li>
                <li class="btn btn-inverse"><a title="" href="${sys.ctx_root}/login"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
		
		#parse("admin_sidebar.vm")
			
	
		<script src="/static/js/excanvas.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.ui.custom.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.flot.min.js"></script>
        <script src="/static/js/jquery.flot.resize.min.js"></script>
        <script src="/static/js/jquery.peity.min.js"></script>
        <script src="/static/js/fullcalendar.min.js"></script>
        <script src="/static/js/unicorn.js"></script>
        <script src="/static/js/unicorn.dashboard.js"></script>
		
	</body>
</html>