#parse("admin_header.vm")
#parse("admin_sidebar.vm")
<link rel="stylesheet" href="$!{viewUtil.getContextPath()}/static/editor/themes/default/default.css" />

<div id="content">
	<div id="content-header">
		<h1>滚动图片管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="$!{viewUtil.getContextPath()}/admin/article_list" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
		<a href="#" class="current">添加滚动图片</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-align-justify"></i>									
						</span>
						<h5>添加滚动图片</h5>
					</div>
					<div class="widget-content padding">
						<form action="javascript:void(0)" method="post" class="form-horizontal" id="article_add_form">
							<div class="control-group">
								<label class="control-label">滚动图片标题</label>
								<div class="controls">
									<input type="text" id="title" name="title">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">滚动图片简介</label>
								<div class="controls">
									<input type="text" id="brief" name="brief">
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">图片链接</label>
								<div class="controls">
									<input type="text" id="articleUri" name="articleUri"/>
							    </div>
							</div>
							<div class="control-group" >
								<label class="control-label">滚动图片</label>
								<div class="controls">
									<input type="text" id="picName" value=""/>&nbsp;&nbsp;<input type="button" id="image3" value="选择图片" />
							    </div>
							<div class="control-group" >
								<div class="controls">
									<button class="btn btn-primary" id="yes_add">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
							    </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="context_path" value="$!{viewUtil.getContextPath()}"/>

<script type="text/javascript">
	$("#sidebar_li_2").siblings().removeClass('active')
	$("#sidebar_li_2").addClass('active');
	var context_path = $("#context_path").val();
	
	$(document).ready(function(){
		$("#yes_add").click(function(check) {
			$("#title").parent().parent().removeClass("error");
			$("#picName").parent().parent().removeClass("error");
			$("#articleUri").parent().parent().removeClass("error");
			$("#req_title").remove();
			$("#req_pic").remove();
			$("#req_articleUri").remove();
		
			var _title = $("#title").val();
			var _brief = $("#brief").val();
			var _articleUri = $("#articleUri").val();
			var _picName = $("#picName").val();
			
			if(_title == "") {
				$("#title").parent().parent().addClass("error");
				$("#title").parent().append('<span id="req_title" for="required" generated="true" class="help-inline">请填写标题</span>');
			} else if(_picName == "") { 
				$("#picName").parent().parent().addClass("error");
				$("#picName").parent().append('<span id="req_pic" for="required" generated="true" class="help-inline">请选择图片</span>');
			} else if(_articleUri == "") { 
				$("#articleUri").parent().parent().addClass("error");
				$("#articleUri").parent().append('<span id="req_articleUri" for="required" generated="true" class="help-inline">请填写链接</span>');
			}
			else {
				$.ajax({
					url: context_path + "/admin/add_slide",
					type: "post",
					data: {title:_title, brief:_brief, articleUri:_articleUri, picName:_picName},
					dataType: "html",
					success: function(data) {
						window.location.href = context_path + "/admin/slide_list";
					},
					error: function(data) {
						window.location.href = context_path + "/admin/slide_list";
					}
				});
			}
		});
	});
</script>
<script charset="utf-8" src="$!{viewUtil.getContextPath()}/static/editor/kindeditor.js"></script>
<script charset="utf-8" src="$!{viewUtil.getContextPath()}/static/editor/lang/zh_CN.js"></script>
<script>
KindEditor.ready(function(K) {
	var editor = K.editor({
		allowFileManager : true
	});
	K('#image3').click(function() {
		editor.loadPlugin('image', function() {
			editor.plugin.imageDialog({
				showRemote : true,
				imageUrl : K('#picName').val(),
				clickFn : function(url, title, width, height, border, align) {
					K('#picName').val(url);
					editor.hideDialog();
				}
			});
		});
	});
});
</script>
#parse("admin_footer.vm")