#parse("admin_header.vm")
#parse("admin_sidebar.vm")	
<script type="text/javascript">
	$("#sidebar_li_6").siblings().removeClass('active')
	$("#sidebar_li_6").addClass('active');
	
	$(document).ready(function(){
		$(":submit[id=submit]").click(function(check){  
			var password = $("#password").val();
			var password2 = $("#password2").val();
			$("#pass1").remove();
			$("#pass2").remove();
			$("#pass3").remove();
			
			if(password == "") {
				$("#password").parent().parent().addClass("error");
				$("#password2").parent().parent().removeClass("error");
				$("#password").parent().append('<span id="pass1" for="required" generated="true" class="help-inline">请填写新密码</span>');
				check.preventDefault();//此处阻止提交表单  
			} else if(password2 == "") {
				$("#password").parent().parent().removeClass("error");
				$("#password2").parent().parent().addClass("error");
				$("#password2").parent().append('<span id="pass2" for="required" generated="true" class="help-inline">请确认新密码</span>');
				check.preventDefault();//此处阻止提交表单  
			} else if(password != password2) {
				$("#password").parent().parent().addClass("error");
				$("#password2").parent().parent().addClass("error");
				$("#password2").parent().append('<span for="required" id="pass3" generated="true" class="help-inline">两次填写密码不一致</span>');
				check.preventDefault();//此处阻止提交表单  
			} else {
				check.submit();
			}
		});
	});
</script>

<div id="content">
	<div id="content-header">
		<h1>其他信息管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="$!{viewUtil.getContextPath()}/admin/article_list" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
		<a href="#" class="current">其他信息管理</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-pencil"></i>
						</span>
						<h5>修改其他信息</h5>
					</div>
					<div class="widget-content padding">
						#foreach($info in $info_list)
							<form action="$!{viewUtil.getContextPath()}/admin/info" id="account_form" class="form-horizontal" method="post" novalidate="novalidate">
								<div class="control-group">
										<input type="hidden" name="key" value="$info.parameterKey"/>
										<label class="control-label">$info.parameterName</label>
										<div class="controls">
											#if (!$info.extra || $info.extra == "")
												<input id="$info.parameterKey" type="text" name="param_value" value="$info.parameterValue"  placeHolder="默认为空"/>
											#else 
												<input id="$info.parameterKey" type="text" name="param_value" value="$info.parameterValue"  placeHolder="$info.extra"/>
											#end
										</div>
								</div>
								<div class="form-actions">
									<input id="submit" class="btn btn-info" type="submit" value="更新" style="margin-left:20px;"/>
								</div>
							</form>
						#end
					</div>
				</div>	
			</div>
		</div>
	</div>		
#parse("admin_footer.vm")