#parse("admin_header.vm")
#parse("admin_sidebar.vm")	

<div id="content">
	<div id="content-header">
		<h1>活动参与统计</h1>
	</div>
	<div id="breadcrumb">
		<a href="$!{viewUtil.getContextPath()}/admin/article_list" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
		<a href="$!{viewUtil.getContextPath()}/admin/activity_list" title="Go to Home" class="tip-bottom"><i class="icon-headphones"></i>活动管理</a>
		<a href="#" class="tip-bottom">活动参与统计</a>
		<a href="#" class="current">${activityTitle}</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4">
				<ul class="site-stats">
					<li><i class="icon-user"></i> <strong>${appCount}</strong> <small>已报名</small></li>
					<li><i class="icon-shopping-cart"></i> <strong>259</strong> <small>已提交</small></li>
				</ul>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
						<h5>活动报名列表</h5>
					</div>
					<div class="widget-content padding">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th style="width:6%">ID</th>
									<th style="width:20%">用户ID</th>
									<th style="width:12%">报名时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								#foreach($app in $applications_list)
									<tr>
										<td>$app.id</td> 
										<td>$app.userId</td>
										<td title="$viewUtil.fTime($app.applyTime)">$viewUtil.fTime("$app.applyTime")</td>
										<td>
											<a href="$!{viewUtil.getContextPath()}/admin/alt_actynews-$news.id" class="btn btn-info" title="修改" id="alter_btn"><i class="icon-tag icon-white"></i>修改新闻</a>
											<button class="btn btn-danger" title="删除" id="del_btn"><i class=" icon-trash icon-white"></i>删除新闻</button>
										</td>
									</tr>
								#end
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<input id="context_path" type="hidden" value="$!{viewUtil.getContextPath()}"/>

<script type="text/javascript">
	$("#sidebar_li_7").siblings().removeClass('active')
	$("#sidebar_li_7").addClass('active');
	var context_path = $("#context_path").val();

	var _activityId = ${activityId};
	var newsId;
</script>
#parse("admin_footer.vm")