#parse("admin_header.vm")
#parse("admin_sidebar.vm")	
<script type="text/javascript">
	$("#sidebar_li_1").siblings().removeClass('active')
	$("#sidebar_li_1").addClass('active');
	function _topAddCatChanged() {
		var sel_top_cat = $("#top_cats_add option:selected").val();
		$.ajax({
			url: "/admin/sub_cat_list",
			type: "post",
			data: {parentId:sel_top_cat},
			dataType: "html",
			success:function(data){
				$("#sub_cats_add").find('option').remove() ;
				var cat_array =eval(data);
				for(var i_cat=0; i_cat<cat_array.length; i_cat++) {
					$("#sub_cats_add").append('<option value="'+ cat_array[i_cat].id +'">'+ cat_array[i_cat].catName +'</option>');
				}
			},
			error:function(){
			}
		});
	}
</script>

<div id="content">
	<div id="content-header">
		<h1>文章管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="/admin/article_list" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
		<a href="#" class="current">编辑文章</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-align-justify"></i>									
						</span>
						<h5>编辑文章</h5>
					</div>
					<div class="widget-content padding">
						<form action="javascript:void(0)" method="post" class="form-horizontal" id="article_add_form">
							<input type="hidden" id="art_id" value="$article.id">
							<div class="control-group">
								<label class="control-label">标题</label>
								<div class="controls">
									<input type="text" id="title" value="$article.title">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">副标题</label>
								<div class="controls">
									<input type="text" id="subhead" value="$article.subhead">
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">类别</label>
								<div class="controls">
									<select id="top_cats_add" onchange="_topAddCatChanged()">
										#foreach($topCat in $top_cat_list)
											#if ($topCat.id == $article.rootCatId)
												<option value="$topCat.id" selected>$topCat.catName</option>
											#else
												<option value="$topCat.id">$topCat.catName</option>
											#end
										#end
									</select>
									&nbsp;
									<select id="sub_cats_add">
										#foreach($init_sub in $init_sub_cat_list)
											#if ($init_sub.id == $article.catId)
												<option value="$init_sub.id" selected>$init_sub.catName</option>
											#else
												<option value="$init_sub.id" >$init_sub.catName</option>
											#end
										#end
									</select>
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<textarea id="editor" name="content" style="width:1000px;height:500px;">$article.content</textarea>
								</div>
							</div>
							<div class="control-group" >
								<div class="controls">
									<button class="btn btn-primary" id="yes_add">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
							    </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		// yes_add
		$("#yes_add").bind("click", function(){
			$("#title").parent().parent().removeClass("error");
			$("#req_title").remove();
		
			editor.sync();
			var _id = $("#art_id").val();
			var _html = $("#editor").val();
			var _title = $("#title").val();
			var _subhead= $("#subhead").val();
			var _top_cat = $("#top_cats_add option:selected").val();
			var _sub_cat = $("#sub_cats_add option:selected").val();
			var _from = $("#login_admin").html().trim();
			var _pure = editor.text();
			if(_title == "") {
				$("#title").parent().parent().addClass("error");
				$("#title").parent().append('<span id="req_title" for="required" generated="true" class="help-inline">请填写标题</span>');
			} else {
				$.ajax({
					url: "/admin/alt_article",
					type: "post",
					data: {id:_id, title:_title, subhead:_subhead, catId:_sub_cat, rootCatId:_top_cat, content:_html, from:_from, pure:_pure},
					dataType: "html",
					success:function(data){
						window.location.href = "/admin/article_list-" + _top_cat + "-" + _sub_cat + "-1";
					},
					error:function(){
						window.location.href = "/admin/article_list-" + _top_cat + "-" + _sub_cat + "-1";
					}
				});
			}
		});
	});
</script>
<script charset="utf-8" src="/static/editor/kindeditor.js"></script>
<script charset="utf-8" src="/static/editor/lang/zh_CN.js"></script>
<script>
    KindEditor.ready(function(K) {
            window.editor = K.create('#editor');
    });
</script>
#parse("admin_footer.vm")