<div id="sidebar">
	<a href="#" class="visible-phone"><i class="icon icon-home"></i>Home</a>
	<ul>
		<li id="sidebar_li_1" class="active"><a href="$!{viewUtil.getContextPath()}/admin/article_list"><i class="icon icon-th-list"></i><span>文章管理</span></a></li>
		<li id="sidebar_li_2"><a href="$!{viewUtil.getContextPath()}/admin/slide_list"><i class="icon icon-picture"></i><span>滚动图片管理</span></a></li>
		<li id="sidebar_li_3"><a href="$!{viewUtil.getContextPath()}/admin/upload_list"><i class="icon icon-download-alt"></i><span>下载管理</span></a></li>
		<li id="sidebar_li_4"><a href="$!{viewUtil.getContextPath()}/admin/pub_list"><i class="icon icon-print"></i><span>刊物管理</span></a></li>
		<li id="sidebar_li_7"><a href="$!{viewUtil.getContextPath()}/admin/activity_list"><i class="icon icon-headphones"></i><span>活动管理</span></a></li>
		<li id="sidebar_li_8"><a href="$!{viewUtil.getContextPath()}/admin/designer_list"><i class="icon icon-bookmark"></i><span>设计师管理</span></a></li>
		<li id="sidebar_li_9"><a href="$!{viewUtil.getContextPath()}/admin/reporter_list"><i class="icon icon-pencil"></i><span>通讯员管理</span></a></li>
		<li id="sidebar_li_10"><a href="$!{viewUtil.getContextPath()}/admin/contribute_list"><i class="icon icon-envelope"></i><span>稿件管理</span></a></li>
		
		<li id="sidebar_li_5"><a href="$!{viewUtil.getContextPath()}/admin/account"><i class="icon icon-user"></i><span>账户管理</span></a></li>
		<li id="sidebar_li_6"><a href="$!{viewUtil.getContextPath()}/admin/info"><i class="icon icon-globe"></i><span>其他信息管理</span></a></li>
	</ul>
		
</div>