#parse("admin_header.vm")
#parse("admin_sidebar.vm")	
<script type="text/javascript">
	$("#sidebar_li_2").siblings().removeClass('active')
	$("#sidebar_li_2").addClass('active');
	function _topCatChanged() {
		var sel_top_cat = $("#top_cats option:selected").val();
		$.ajax({
			url: "/admin/sub_cat_list",
			type: "post",
			data: {parentId:sel_top_cat},
			dataType: "html",
			success:function(data){
				$("#sub_cats").find('option').remove() ;
				var cat_array =eval(data);
				$("#sub_cats").append('<option value="0">全选</option>');
				for(var i_cat=0; i_cat<cat_array.length; i_cat++) {
					$("#sub_cats").append('<option value="'+ cat_array[i_cat].id +'">'+ cat_array[i_cat].catName +'</option>');
				}
			},
			error:function(){
			}
		});
	}
</script>		
<div id="content">
	<div id="content-header">
		<h1>Slide管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="/admin/article_list" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
		<a href="#" class="current">Slide管理</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
						<h5>Slide列表</h5>
						<span class="icon" id="add_display_btn">
							<a href="/admin/add_slide" class="btn btn-primary btn-mini">
								<i class="icon-plus icon-white"></i>添加Slide
							</a>
						</span>
					</div>
					<div class="widget-content padding">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th style="width:3%">ID</th>
									<th>Slide标题</th>
									<th>Slide简介</th>
									<th style="width:5%">来自文章</th>
									<th style="width:4%">图片</th>
									<th style="width:15%">发布时间</th>
									<th style="width:7%">操作</th>
								</tr>
							</thead>
							<tbody>
								#foreach($slide in $slide_list)
									<tr>
										<td>$slide.id</td>
										<td>$slide.title</td>
										<td>$slide.brief</td>
										<td>$slide.articleId</td>
										<td><a target="_blank" href="$slide.picName" /><img src="$slide.picName"/></td>
										<td>$slide.updateTime</td>
										<td>
											<a href="/admin/alt_slide-$slide.id" class="btn btn-info" title="修改" id="alter_btn"><i class="icon-tag icon-white"></i></a>
											<button class="btn btn-danger" title="删除" id="del_btn"><i class=" icon-trash icon-white"></i></button>
										</td>
									</tr>
								#end
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="del_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-body">
	    <span>是否确定删除？</span>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" id="yes_del">是</button>
	    <button class="btn" data-dismiss="modal" aria-hidden="true" id="no_del">否</button>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		// global
		var slideId = -1; 
		
		// show del_dialog
		$("button[id='del_btn']").bind("click", function(){
			slideId = $(this).parents("tr").find("td:first").html().trim()
			$("#del_dialog").modal("show");
		});
		// yes_del
		$("#yes_del").bind("click", function(){
			$.ajax({
				url: "/admin/del_slide",
				type: "post",
				data: {slideId:slideId},
				dataType: "html",
				success:function(data){
					$("#del_dialog").modal("hide");
					location.reload();
				},
				error:function(){
					$("#del_dialog").modal("hide");
					alert("删除错误，请重试！");
				}
			});
		});
	});
</script>


#parse("admin_footer.vm")