#parse("admin_header.vm")
#parse("admin_sidebar.vm")
<link rel="stylesheet" href="/static/editor/themes/default/default.css" />

<div id="content">
	<div id="content-header">
		<h1>刊物管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="/admin/article_list" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
		<a href="#" class="current">编辑刊物</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-align-justify"></i>									
						</span>
						<h5>编辑刊物</h5>
					</div>
					<div class="widget-content padding">
						<form action="javascript:void(0)" method="post" class="form-horizontal">
							<input type="hidden" value="$pub.id" id="pub_id"/>
							<div class="control-group">
								<label class="control-label">刊物标题</label>
								<div class="controls">
									<input type="text" id="title" name="title" value="$pub.title" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">刊物简介</label>
								<div class="controls">
									<input type="text" id="intro" name="intro" value="$pub.intro">
								</div>
							</div>
							<div class="control-group" >
								<label class="control-label">刊物图片</label>
								<div class="controls">
									<input type="text" id="picName" value="$pub.images"/>
									<input type="button" id="image3" value="选择图片" />
							    </div>
							<div class="control-group" >
								<div class="controls">
									<button class="btn btn-primary" id="yes_add">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
							    </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#yes_add").click(function(check) {
			$("#title").parent().parent().removeClass("error");
			$("#picName").parent().parent().removeClass("error");
			$("#req_title").remove();
			$("#req_pic").remove();
		
			var _id = $("#pub_id").val();
			var _title = $("#title").val();
			var _intro = $("#intro").val();
			var _picName = $("#picName").val();
			
			if(_title == "") {
				$("#title").parent().parent().addClass("error");
				$("#title").parent().append('<span id="req_title" for="required" generated="true" class="help-inline">请填写标题</span>');
			} else if(_picName == "") { 
				$("#picName").parent().parent().addClass("error");
				$("#picName").parent().append('<span id="req_pic" for="required" generated="true" class="help-inline">请选择图片</span>');
			} else {
				$.ajax({
					url: "/admin/alt_pub",
					type: "post",
					data: {id:_id, title:_title, intro:_intro, images:_picName},
					dataType: "html",
					success: function(data) {
						window.location.href = "/admin/pub_list";
					},
					error: function(data) {
						window.location.href = "/admin/pub_list";
					}
				});
			}
		});
	});
</script>
<script charset="utf-8" src="/static/editor/kindeditor.js"></script>
<script charset="utf-8" src="/static/editor/lang/zh_CN.js"></script>
<script>
KindEditor.ready(function(K) {
	var editor = K.editor({
		allowFileManager : true
	});
	K('#image3').click(function() {
		editor.loadPlugin('multiimage', function() {
			editor.plugin.multiImageDialog({
				clickFn : function(urlList) {
				 		var images = "";
				 		K.each(urlList, function(i, data) {
                        	if (i != urlList.length) {
                        		images = images + data.url + ",";
                        	} else {
                        		images = images + data.url;
                        	}
                        }); 
				 		$("#picName").val(images);
                        editor.hideDialog();
                }
			});
		});
	});
});
</script>
#parse("admin_footer.vm")