#parse("admin_header.vm")
#parse("admin_sidebar.vm")	

<div id="content">
	<div id="content-header">
		<h1>刊物管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="$!{viewUtil.getContextPath()}/admin/article_list" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
		<a href="#" class="current">刊物管理</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
						<h5>刊物列表</h5>
						<span class="icon" id="add_display_btn">
							<a href="$!{viewUtil.getContextPath()}/admin/add_pub" class="btn btn-primary btn-mini">
								<i class="icon-plus icon-white"></i>添加刊物
							</a>
						</span>
					</div>
					<div class="widget-content padding">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th style="width:3%">ID</th>
									<th>标题</th>
									<th>简介</th>
									<th style="width:15%">图片</th>
									<th style="width:15%">发布时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								#foreach($pub in $pub_list)
									<tr>
										<td>$pub.id</td>
										<td width="15%" title="$pub.title">$pub.title</td>
										
										#if ($pub.intro.length() < 30) 
											<td width="15%" title="$pub.intro">$pub.intro</td>
										#else
											<td width="15%" title="$pub.intro">$pub.intro.substring(0,29)...</td>
										#end
										
										<td>
											#foreach($img in $pub.imgUrls)
												<a target="_blank" href="$!img" /><img src="$!img"/>
											#end
										</td>
										<td title='$viewUtil.fTime("$pub.postTime")'>$viewUtil.fTime("$pub.postTime")</td>
										<td>
											<a href="$!{viewUtil.getContextPath()}/admin/alt_pub-$pub.id" class="btn btn-info" title="修改" id="alter_btn"><i class="icon-tag icon-white"></i>修改</a>
											<button class="btn btn-danger" title="删除" id="del_btn"><i class=" icon-trash icon-white"></i>删除</button>
										</td>
									</tr>
								#end
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="context_path" value="$!{viewUtil.getContextPath()}" />


<div id="del_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-body">
	    <span>是否确定删除？</span>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" id="yes_del">是</button>
	    <button class="btn" data-dismiss="modal" aria-hidden="true" id="no_del">否</button>
	</div>
</div>

<script type="text/javascript">
	$("#sidebar_li_4").siblings().removeClass('active')
	$("#sidebar_li_4").addClass('active');
	var context_path = $("#context_path").val();

	$(document).ready(function(){
		// global
		var pubId = -1; 
		
		// show del_dialog
		$("button[id='del_btn']").bind("click", function(){
			pubId = $(this).parents("tr").find("td:first").html().trim()
			$("#del_dialog").modal("show");
		});
		// yes_del
		$("#yes_del").bind("click", function(){
			$.ajax({
				url: context_path + "/admin/del_pub",
				type: "post",
				data: {id:pubId},
				dataType: "html",
				success:function(data){
					$("#del_dialog").modal("hide");
					location.reload();
				},
				error:function(){
					$("#del_dialog").modal("hide");
					alert("删除错误，请重试！");
				}
			});
		});
	});
</script>


#parse("admin_footer.vm")