#parse("admin_header.vm")
#parse("admin_sidebar.vm")	

<div id="content">
	<div id="content-header">
		<h1>文章管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="$!{viewUtil.getContextPath()}/admin/article_list" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
		<a href="#" class="current">文章管理</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-content nopadding">
					<div class="control-group">
						<div class="controls">
							<select id="top_cats" onchange="_topCatChanged()">
								#foreach($topCat in $top_cat_list)
									#if ($topCat.id == $topCatId)
										<option value="$topCat.id" selected>$topCat.catName</option>
									#else
										<option value="$topCat.id">$topCat.catName</option>
									#end
								#end
							</select>
							&nbsp;
							<select id="sub_cats">
								#if ($subCatId == 0)
									<option value="0" selected>全选</option>
								#else
									<option value="0">全选</option>
								#end
								#foreach($init_sub in $init_sub_cat_list)
									#if ($init_sub.id == $subCatId)
										<option value="$init_sub.id" selected>$init_sub.catName</option>
									#else
										<option value="$init_sub.id" >$init_sub.catName</option>
									#end
									
								#end
							</select>
							&nbsp;
							<span class="icon" id="fetch_article_btn">
								<a href="javascript:void(0)" class="btn btn-info btn" style="vertical-align:middle; margin-bottom:3px;">
									&nbsp;&nbsp;<i class="icon-play icon-white"></i>&nbsp;&nbsp;
								</a>
							</span>
						</div>
						<div class="controls">
							<input style="" type="text" value="$searchInput" placeHolder="文章检索" id="search_input"/>
							&nbsp;
							<span style="" margin-left:10px; margin-right:20px" class="icon" id="search_article_btn">
								<a href="javascript:void(0)" class="btn btn-success btn" style="vertical-align:middle; margin-top:-6px;">
									&nbsp;&nbsp;<i class="icon-play icon-white"></i>&nbsp;&nbsp;
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
						<h5>文章列表</h5>
						<span class="icon" id="add_display_btn">
							<a href="$!{viewUtil.getContextPath()}/admin/add_article" class="btn btn-primary btn-mini">
								<i class="icon-plus icon-white"></i>添加文章
							</a>
						</span>
					</div>
					<div class="widget-content padding">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th style="width:6%">ID</th>
									<th>文章标题</th>
									<th>副标题</th>
									<th style="width:5%">类别</th>
									<th style="width:7%">来自</th>
									<th style="width:15%">发布时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								#foreach($article in $article_list)
									<tr>
										<td>$article.id</td>
										<td>$article.title</td>
										<td>$article.subhead</td>
										<td>$article.catId</td>
										<td>$article.from</td>
										<td>$viewUtil.fTime("$article.postTime")</td>
										<td>
											<a href="$!{viewUtil.getContextPath()}/admin/alt_article-$article.id" class="btn btn-info" title="修改" id="alter_btn"><i class="icon-tag icon-white"></i></a>
											<button class="btn btn-danger" title="删除" id="del_btn"><i class=" icon-trash icon-white"></i></button>
										</td>
									</tr>
								#end
							</tbody>
						</table>
						<div class="pagination pagination-centered"">
							<ul>
								#if ($prePageIndex == 0) 
									<li class="disabled"><a href="javascript:void(0)">前一页</a></li>
								#else
									<li><a href="$!{viewUtil.getContextPath()}/admin/article_list-${topCatId}-${subCatId}-${prePageIndex}" >前一页</a></li>
								#end
						    	#if ($pageIndex == $pageCount)
							    	<li class="disabled"><a href="javascript:void(0)">后一页</a></li>
						    	#else
						    		<li><a href="$!{viewUtil.getContextPath()}/admin/article_list-${topCatId}-${subCatId}-${nextPageIndex}">后一页</a></li>
						    	#end
							</ul>
							<select style="vertical-align:top; height:inherit; width:80px" onchange="top.location=this.value;">
								#foreach($i in [1..$pageCount]) 
									#if ($i == $pageIndex)
										<option value="$!{viewUtil.getContextPath()}/admin/article_list-${topCatId}-${subCatId}-${i}" selected>$i</option>
									#else
										<option value="$!{viewUtil.getContextPath()}/admin/article_list-${topCatId}-${subCatId}-${i}">$i</option>
									#end
									
								#end
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<input id="context_path" type="hidden" value="$!{viewUtil.getContextPath()}"/>

<div id="del_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-body">
	    <span>是否确定删除？</span>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" id="yes_del">是</button>
	    <button class="btn" data-dismiss="modal" aria-hidden="true" id="no_del">否</button>
	</div>
</div>

<script type="text/javascript">
	$("#sidebar_li_1").siblings().removeClass('active')
	$("#sidebar_li_1").addClass('active');
	var context_path = $("#context_path").val();
	
	function _topCatChanged() {
		var sel_top_cat = $("#top_cats option:selected").val();
		$.ajax({
			url: context_path + "/admin/sub_cat_list",
			type: "post",
			data: {parentId:sel_top_cat},
			dataType: "html",
			success:function(data){
				$("#sub_cats").find('option').remove() ;
				var cat_array =eval(data);
				$("#sub_cats").append('<option value="0">全选</option>');
				for(var i_cat=0; i_cat<cat_array.length; i_cat++) {
					$("#sub_cats").append('<option value="'+ cat_array[i_cat].id +'">'+ cat_array[i_cat].catName +'</option>');
				}
			},
			error:function(){
			}
		});
	}

	$(document).ready(function(){
		// global
		var articleId = -1; 
		var top_cat_id = 1;
		var sub_cat_id = 0;
	
		/**************************************************************************/
		$("#fetch_article_btn").bind("click", function(){
			top_cat_id = $("#top_cats option:selected").val();
			sub_cat_id = $("#sub_cats option:selected").val();
			
			window.location.href= context_path + "/admin/article_list-"+ top_cat_id + "-" + sub_cat_id + "-1";
		});
		/**************************************************************************/
		
		
		$("#search_article_btn").bind("click", function(){
			var search_input = $("#search_input").val().trim();
			if(search_input == "") {
				$("#search_input").css("border-color", "red");
				$("#search_input").attr("placeHolder", "请输入搜索内容");
			} else if(search_input.length > 10) {
				$("#search_input").css("border-color", "red");
				$("#search_input").css("color", "red");
				$("#search_input").val("");
				$("#search_input").attr("placeHolder", "搜索内容过长");
			} else {
				window.location.href = context_path + "/admin/article_list_search-" + search_input;
			}
			
		});
		
		// show del_dialog
		$("button[id='del_btn']").bind("click", function(){
			articleId = $(this).parents("tr").find("td:first").html().trim()
			$("#del_dialog").modal("show");
		});
		// yes_del
		$("#yes_del").bind("click", function(){
			$.ajax({
				url: context_path + "/admin/del_article",
				type: "post",
				data: {id:articleId},
				dataType: "html",
				success:function(data){
					$("#del_dialog").modal("hide");
					location.reload();
				},
				error:function(){
					$("#del_dialog").modal("hide");
					alert("删除错误，请重试！");
				}
			});
		});
	});
</script>
#parse("admin_footer.vm")