<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
#parse("common/head.vm")
<body>

<!-- Content
================================================== -->
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	#parse("common/header.vm")
	<!-- Header / End -->
	
	<!-- Navigation -->
	#parse("common/navi.vm")
	<!-- Navigation / End -->
	<div class="sixteen columns">
	
		<!-- Page Title -->
		<div id="page-title">
			$viewUtil.getBreadcrumb($curCat.id)
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->

	</div>
</div>
<!-- 960 Container / End -->


<!-- Blog Posts
================================================== -->
<!-- 960 Container -->
<div class="container">
<!-- Widget
================================================== -->
<div class="eleven columns">
	<div class="post post-page" style="min-height:700px;border-bottom:1px solid #ddd;">
	<!-- Post -->
    	<div class="post-content" style="margin:0px;">
    		#if($article)
    		<div class="post-title" style="text-align: center;"><h2>$!article.title</h2>
    		<h3>$!article.subhead</h3></div>
    		<div class="post-meta" style="text-align: center;"><span><i class="mini-ico-calendar"></i>$viewUtil.fTime("$!article.postTime")</span> <span><i class="mini-ico-user"></i>来自  $!article.from</span> </div>
    		<div class="post-description">
    				$!article.content
    		</div>
    		#end
    	</div>
	</div>
	<div style="font-weight:bold;margin:10px 0">上一篇:#if($article.previous) <a href="$!{viewUtil.getContextPath()}$!{article.previous.uri}">$!{article.previous.title}</a>#else 没有了#end</div>
	<div style="font-weight:bold;margin:5px 0">下一篇:#if($article.next) <a href="$!{viewUtil.getContextPath()}$!{article.next.uri}">$!{article.next.title}</a>#else 没有了#end</div>
	<div class="clear"></div>
</div>
	<!-- 特别关注 -->
	<div class="five columns" style="border-bottom:1px solid;color:#ddd;margin: 1px 0 0 20px;">
        <div class="icon-box widget first">
        	<i class="ico-sampler" style="margin:-6px 0 0 0px"></i>
        	<h4 style="margin-top: 0px;">相关资讯</h4>
			<ul class="circle_list" style="margin-top: 15px;">
				#foreach($relate in $relates)
				<li>
					<div class="latest-post-blog" style="margin-bottom:8px;">
                       	<a href="$!{viewUtil.getContextPath()}$relate.uri">$!{relate.title}</a>
					</div>
            	</li>
				#end
			</ul>
        </div>
	</div>
</div>
<!-- 960 Container / End -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->
<script language="JavaScript">
	$(document).ready(function(){
		$(".circle_list li div a").css("color","#666");
		$(".circle_list li div a").hover(function(){
			$(this).css("color","#72b626");
			$(this).css("text-decoration","underline");
		},
		function(){
			$(this).css("color","#666");
			$(this).css("text-decoration","none");
		});
	});
</script>
</body>
</html>