<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8" />
<title>嘉兴市工业设计协会</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/boxed.css" id="layout" />
<link rel="stylesheet" type="text/css" href="/static/css/colors/green.css" id="colors" />

<!-- Java Script
================================================== -->
<script src="/static/js/jquery-1.8.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/selectnav.js"></script>
<script src="/static/js/flexslider.js"></script>
<script src="/static/js/twitter.js"></script>
<script src="/static/js/tooltip.js"></script>
<script src="/static/js/effects.js"></script>
<script src="/static/js/fancybox.js"></script>
<script src="/static/js/carousel.js"></script>
<script src="/static/js/isotope.js"></script>

</head>
<body>

<!-- Content
================================================== -->
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	#parse("common/header.vm")
	<!-- Header / End -->
	
	<!-- Navigation -->
	#parse("common/navi.vm")
	<!-- Navigation / End -->
	<div class="sixteen columns">
	
		<!-- Page Title -->
		<div id="page-title">
			<h2 style='padding: 10px 0 10px 0;'>
				<a href='/download.html' style='color:#333'>下载中心</a>
				<span>/ <a href='/download.html' style='color:#aaa'>下载中心</a></span>
			</h2>
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->

	</div>
</div>
<!-- 960 Container / End -->


<!-- Blog Posts
================================================== -->
<!-- 960 Container -->
<div class="container">
<!-- Widget
================================================== -->
<div class="three columns">
	<!-- Categories -->
	<div class="widget first">
		<div class="headline no-margin"><h4>下载中心</h4></div>
			<ul class="links-list-alt">
				<li class="cats"><a href="/download.html" style="font-weight:bold">下载中心</a></li>
			</ul>
	</div>

</div>
<div class="thirteen columns">
	<div class="post post-page" style="min-height:700px;">
    	<!-- Post -->
		<div class="tooltips">
		<ul>
    	#foreach($upload in $uploads)
		<li style="margin:0px 0px 15px 0;"><i class="mini-ico-tag"></i>
			<a href="$!{upload.initialName}" rel="tooltip" data-original-title="$!{upload.uploadSize}">$!{upload.uploadName}</a>
		</li>
		#end
		</ul>
		</div>
    	#if($pageCount > 1)
       	<ul class="pagination">
    		#if($pageIndex<=5)
    			#set($base = 1)
    			#if($pageCount<=10)
    				#set($high = $pageCount)
    			#else
    				#set($high = 10)
    			#end
    		#else
				<a href="$!{uri}?pn=1"><li>首页</li></a>
    			#set($base = $pageIndex - 4)
    			#if($pageCount > $pageIndex + 5)
    				#set($high = $pageIndex + 5)
    			#else
    				#set($high = $pageCount)
    			#end
    		#end
    		#foreach($i in [$base..$high])
    			#if($pageIndex!=$i)<a href="$!{uri}?pn=$i">#end
    				<li #if($pageIndex==$i)class="current"#end>$i</li>
    			#if($pageIndex!=$i)</a>#end
    		#end
    		#if($pageIndex<$pageCount)
    			#set($next = $pageIndex + 1)
       		<a href="$!{uri}?pn=$!{next}"><li>下一页></li></a>
       		<a href="$!{uri}?pn=$!{pageCount}"><li>尾页</li></a>
    		#end
       	</ul>
		#end
		<div style="padding-top: 20px;">共 ${pageCount} 页 ${sumCount} 条</div>
	</div>
	<div class="clear"></div>
</div>

</div>
<!-- 960 Container / End -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->
<script language="JavaScript">
	$(document).ready(function(){
	});
</script>
</body>
</html>