<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
#parse("common/head.vm")
<body>
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->
<!-- 960 Container -->
<div class="container ie-dropdown-fix">
	<!-- Header -->
	#parse("common/header.vm")
	<!-- Header / End -->
	<!-- Navigation -->
	#parse("common/navi.vm")
	<!-- Navigation / End -->
</div>
<!-- 960 Container / End -->
<!-- Content
================================================== -->
<!-- 960 Container -->
<div class="container">
	<!-- Flexslider -->
	#parse("common/flexslider.vm")
	<!-- Flexslider / End -->
    <div class="one-third column" style="height:150px;padding:0px;display:block;background">
		<div class="headline no-margin">
			<h3>文章搜索</h3>
		</div>
    	<div class="search no-margin icon-box tooltips">
		#parse("common/search_form.vm")
		</div>
    	<div class="headline  tooltips" style="margin:5px 0 0px 0">
			<a href="/news" class="button color" rel="tooltip" data-original-title="查看更多" style="margin:6px 5px 0 0px;padding:2px 5px;float:right">more</a>
			<h3>新闻要论</h3>
		</div>
    	<div id="marquees" style="height:236px;width:290px;overflow:hidden">
    		<ul class="square_list">
       			#foreach($article in $news)
               	<li style="margin:10px 0px"> <a href="$!{viewUtil.getContextPath()}$!{article.uri}">$article.title</a></li>
    			#end
    		</ul>
    	</div>
	</div>
</div>
<!-- 960 Container / End -->
<!-- 960 Container -->
<div class="container" style="border-bottom:1px solid #ddd;">
	<!-- Icon Boxes -->
	<div class="activity-index" style="margin-top:10px;">
		<!-- Icon Box Start -->
		<div class="one-third column intro-block">
			<div class="icon-box">
				<i class="ico-group" style="margin-left: -10px;"></i>
				<h3>会员风采</h3>
				<p>这里有最优秀的工业设计基地、企业、中心，有最优秀设计师；这里集结智慧，展示品牌，分享创意。在这里，您可以找到绝佳的设计作品。在这里，“伯乐识马”一直在发生。<br/>
					<a class="post-entry" href="$!{viewUtil.getContextPath()}/members" style="font-size: 14px;margin: 0;">会员风采</a><br/>
					<a class="post-entry" href="$!{viewUtil.getContextPath()}/designer" style="font-size: 14px;margin: 0;">设计师之家</a>
				</p>
			</div>
		</div>
		<!-- Icon Box End -->
		<div class="one-third column activity-block" style="width:610px;height:154px;">
			<div style="display:inline;float:left;padding-top:10px;margin-left:10px;width:600px;">
				<ul class="links-list-alt activity-list">
					#foreach($memberStyleItem in $memberStyleList)
					<li style="float:left;"><a href="$!{viewUtil.getContextPath()}$!{memberStyleItem.uri}" style="color:#5ca20d;width:280px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;" title="$!{memberStyleItem.title}">$!{memberStyleItem.title}</a></li>
					#end
				</ul>
			</div>
		</div>
	</div>
	<!-- Icon Boxes / End -->
</div>
<!-- 960 Container / End -->
<!-- 960 Container -->
<div class="container">
	<!-- Icon Boxes -->
	<div class="activity-index" style="margin-top:20px;">
		<!-- Icon Box Start -->
		<div class="one-third column intro-block">
			<div class="icon-box">
				<i class="ico-cup" style="margin-left: -10px;"></i>
				<h3>赛展招商</h3>
				<p>品牌企业招商舞台，会展赛事信息之窗，精英赛展在线报名，现场照片视频速递，设计作品投票评选……<br/>
					<a class="post-entry" href="$!{viewUtil.getContextPath()}/events" style="font-size: 14px;margin: 0;">赛展招商</a><br/>
					<a class="post-entry" href="$!{viewUtil.getContextPath()}/activity" style="font-size: 14px;margin: 0;">活动赛事中心</a>
				</p>
			</div>
		</div>
		<!-- Icon Box End -->
		#foreach($activity in $activities)
		<div class="one-third column activity-block" style="width:290px;">
			<div class="post-meta" style="display:inline;float:left;margin-left:10px;max-width:90px;">
				<label class="activity-title">
					<a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}" style="color: #404040;font-weight:bold;font-size:14px;">$!{activity.title}</a>
				</label>
				<ul>
    				<li><span><i class="mini-ico-edit"></i>$!{activity.applyCount} 人报名</span></li>
    				<li><span><i class="mini-ico-file"></i>$!{activity.workCount} 件作品</span></li>
				</ul>
			</div>
			<div style="display:inline;float:left;padding-top:10px;margin-left:10px;width:180px;">
				<ul class="links-list-alt activity-list">
					#foreach($activityNew in $activity.news)
					<li><a href="$!{viewUtil.getContextPath()}/activity/$!{activity.id}/news/$!{activityNew.id}"  style="color:#5ca20d;width:170px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;" title="$!{activityNew.title}">$!{activityNew.title}</a></li>
					#end
				</ul>
			</div>
		</div>
		#end
	</div>
	<!-- Icon Boxes / End -->
</div>
<!-- 960 Container / End -->
<!-- 960 Container -->
<div class="container">
	<div class="sixteen columns" style="height: 45px;">
		<!-- Headline -->
		<div class="no-margin icon-box tooltips"><i class="ico-book-open" style="margin-left: -10px;margin-top:-7px;"></i>
			<a href="$viewUtil.getContextPath()/publication" class="button color" rel="tooltip" data-original-title="查看更多" style="margin:6px 5px 0 0px;padding:2px 5px;float:right">more</a>
			<h3>协会刊物</h3>
		</div>
	</div>
	#foreach($publication in $recentPublications)
	<!-- Project -->
	<div class="four columns">
		<div class="picture">
			#if($!{publication.linkUrl}&&$!{publication.linkUrl}!="")
			<a href="$!{publication.linkUrl}">
			#else
			<a href="$viewUtil.getContextPath()/publication/$!{publication.id}.html">
			#end
				#if($!{publication.coverUrl}&&$!{publication.coverUrl}!="")
				<img src="$!{publication.coverUrl}" alt="$!{publication.title}" style="height:139px"/>
				#else
				<img src="$viewUtil.getContextPath()/static/images/portfolio/portoflio-09.jpg" alt="$!{publication.title}" style="height:139px"/>
				#end
				<div class="image-overlay-link"></div>
			</a>
		</div>
		<div class="item-description">
			<h5>
    			#if($!{publication.linkUrl}&&$!{publication.linkUrl}!="")
    			<a href="$!{publication.linkUrl}">
    			#else
    			<a href="$viewUtil.getContextPath()/publication/$!{publication.id}.html">
    			#end
					$!{publication.title}
				</a>
			</h5>
			<p>$!{publication.brief}</p>
		</div>
	</div>
	#end
</div>
<!-- 960 Container / End -->
<!-- 960 Container -->
<div class="container">
	<div class="eight columns" >
		<!-- Headline -->
		<div class="no-margin icon-box tooltips"><i class="ico-lightbulb" style="margin-left: -10px;margin-top:-7px;"></i>
			<a href="$viewUtil.getContextPath()/workshop" class="button color" rel="tooltip" data-original-title="查看更多" style="margin:6px 5px 0 0px;padding:2px 5px;float:right">more</a>
			<h3>创意商城</h3>
		</div>
		<div style="margin-top:8px;font-size:15px;">
			<ul class="arrow_list index-article-list">
				#foreach($workshopArticle in $workshops)
				<li>
    				<div class="article-list-title">
    					<a href="$viewUtil.getContextPath()$!{workshopArticle.uri}" title="$!{workshopArticle.title}">$!{workshopArticle.title}</a>
    				</div>
    				<div class="article-list-date">$!viewUtil.fArticlePostTime("$!{workshopArticle.postTime}")</div>
				</li>
				#end
			</ul>
		</div>
	</div>
	<div class="eight columns" >
		<!-- Headline -->
		<div class="no-margin icon-box tooltips"><i class="ico-attach" style="margin-left: -10px;margin-top:-7px;"></i>
			<a href="$viewUtil.getContextPath()/policy" class="button color" rel="tooltip" data-original-title="查看更多" style="margin:6px 5px 0 0px;padding:2px 5px;float:right">more</a>
			<h3>政策法规</h3>
		</div>
		<div style="margin-top:8px;font-size:15px;">
			<ul class="arrow_list index-article-list">
				#foreach($policiesArticle in $policies)
				<li>
    				<div class="article-list-title">
    					<a href="$viewUtil.getContextPath()$!{policiesArticle.uri}" title="$!{policiesArticle.title}">$!{policiesArticle.title}</a>
    				</div>
    				<div class="article-list-date">$!viewUtil.fArticlePostTime("$!{policiesArticle.postTime}")</div>
				</li>
				#end
			</ul>
		</div>
	</div>
</div>
<!-- 960 Container / End -->
<!-- 960 Container -->
<div class="container" style="margin-top:20px;">
	<div class="eight columns">
		<!-- Headline -->
		<div class="no-margin icon-box tooltips"><i class="ico-blog" style="margin-left: -10px;margin-top:-7px;"></i>
			<a href="$viewUtil.getContextPath()/blogzone" class="button color" rel="tooltip" data-original-title="查看更多" style="margin:6px 5px 0 0px;padding:2px 5px;float:right">more</a>
			<h3>博文天下</h3>
		</div>
		<div style="margin-top:8px;font-size:15px;">
			<ul class="arrow_list index-article-list">
				#foreach($indexBlogsItem in $indexBlogs)
				<li>
    				<div class="article-list-title">
    					<a href="$viewUtil.getContextPath()/designer/$!{indexBlogsItem.designerId}/blogs/$!{indexBlogsItem.id}" title="$!{indexBlogsItem.title}">$!{indexBlogsItem.title}</a>
    				</div>
    				<div class="article-list-date">$!viewUtil.fArticlePostTime("$!{indexBlogsItem.updateTime}")</div>
				</li>
				#end
			</ul>
		</div>
	</div>
	<div class="eight columns" >
		<!-- Headline -->
		<div class="no-margin icon-box tooltips"><i class="ico-certificate" style="margin-left: -10px;margin-top:-7px;"></i>
			<a href="$viewUtil.getContextPath()/train" class="button color" rel="tooltip" data-original-title="查看更多" style="margin:6px 5px 0 0px;padding:2px 5px;float:right">more</a>
			<h3>认证培训</h3>
		</div>
		<div style="margin-top:8px;font-size:15px;">
			<ul class="arrow_list index-article-list">
				#foreach($trainsArticle in $trains)
				<li>
    				<div class="article-list-title">
    					<a href="$viewUtil.getContextPath()$!{trainsArticle.uri}" title="$!{trainsArticle.title}">$!{trainsArticle.title}</a>
    				</div>
    				<div class="article-list-date">$!viewUtil.fArticlePostTime("$!{trainsArticle.postTime}")</div>
				</li>
				#end
			</ul>
		</div>
	</div>
</div>
<!-- 960 Container / End -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->
</body>
<script language="JavaScript">
	$(document).ready(function(){
        var funca = function() {
			$(".square_list li:first-child").toggle(600);
            var funcb = function() {
				$(".square_list li:first-child").appendTo(".square_list");
				$(".square_list li:last-child").toggle(600);
			};
			var timer_timeout = setTimeout(funcb, 600);
        };
        var timer_interval = setInterval(funca,2000);
		
		
		$(".square_list li").mouseover(function(){
			clearInterval(timer_interval);
		});
		
		$(".square_list li").mouseout(function(){
			timer_interval = setInterval(funca,2000);
		});
		
		$("#searchForm").submit(function(){
			if($("input[name='keyword']").val()!=""){
				return true;
			}else{
				return false;
			}
		});
		
		$("#searchBtn").click(function(){
			$("#searchForm").submit();
		});
	});
</script>
</html>