<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
#parse("common/head.vm")
<body>
<!-- Content
================================================== -->
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->
<!-- 960 Container -->
<div class="container ie-dropdown-fix">
	<!-- Header -->
	#parse("common/header.vm")
	<!-- Header / End -->
	<!-- Navigation -->
	#parse("common/navi.vm")
	<!-- Navigation / End -->
</div>
<!-- 960 Container / End -->
<!-- 960 Container -->
<div class="container">
	<div class="sixteen columns">
		<!-- Page Title -->
		<div id="page-title">
			<h2><a href="$!{viewUtil.getContextPath()}/publication/" style='color:#333'>协会刊物</a> <span>/ <a href="$!{viewUtil.getContextPath()}/publication/$!{publication.id}.html" style='color:#aaa'>$!{publication.title}</a></span></h2>
			<!-- Portfolio Navi 
			<div id="portfolio-navi">
				<ul>
					<li><a class="prev" href="#"></a></li>
					<li><a class="next" href="#"></a></li>
				</ul>
			</div>
			<div class="clear"></div>
			-->
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->
	</div>
</div>
<!-- 960 Container / End -->
<!-- 960 Container -->
<div class="container" style="float:right;margin-top: 0px;">
	<div class="four columns">
		<ul class="project-info">
			<li><strong>发布日期:</strong> $viewUtil.fTime("$!{publication.postTime}")</li>
		</ul>
		<!--
		<a href="#" class="button color launch">Launch Project</a>
		-->
	</div>
</div>
<div class="container">
	<!-- Slider -->
	<div class="sixteen columns">
		<div class="flexslider home">
			<ul class="slides">
				#foreach($imgUrl in $publication.imgUrls)
				<li><img src="$!{viewUtil.getContextPath()}$!{imgUrl}" alt="" /></li>
				#end
			 </ul>
		</div>
	</div>
</div>
<!-- End 960 Container -->
<!-- 960 Container -->
<div class="container" style="margin: 20px 0 0 10px;">
	<div class="sixteen columns alpha">
		<p>$!{publication.intro}</p>
	</div>
</div>
<!-- End 960 Container -->
<!-- 960 Container -->
<div class="container">
	<div class="sixteen columns">
		<!-- Headline -->
		<div class="headline" style="margin-top: 5px;"><h3>近期刊物</h3></div>
	</div>
	<!-- 1/4 Column -->
	#foreach($publication in $recentPublications)
	<div class="four columns">
		<div class="picture">
			<a href="$!{viewUtil.getContextPath()}/publication/$!{publication.id}.html">
				<img src="$!{viewUtil.getContextPath()}$!{publication.coverUrl}" alt="$!{publication.title}" style="height:139px"/>
				<div class="image-overlay-link"></div>
			</a>
		</div>
		<div class="item-description">
			<h5><a href="$!{viewUtil.getContextPath()}/publication/${publication.id}.html">$!{publication.title}</a></h5>
			<p>$!{publication.brief}</p>
		</div>
	</div>
	#end
</div>
<!-- 960 Container / End -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->
</body>
</html>