<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8" />
<title>嘉兴市工业设计协会</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/boxed.css" id="layout" />
<link rel="stylesheet" type="text/css" href="/static/css/colors/green.css" id="colors" />

<!-- Java Script
================================================== -->
<script src="/static/js/jquery-1.8.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/selectnav.js"></script>
<script src="/static/js/flexslider.js"></script>
<script src="/static/js/twitter.js"></script>
<script src="/static/js/tooltip.js"></script>
<script src="/static/js/effects.js"></script>
<script src="/static/js/fancybox.js"></script>
<script src="/static/js/carousel.js"></script>
<script src="/static/js/isotope.js"></script>
</head>
<body>
<!-- Content
================================================== -->
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->
<!-- 960 Container -->
<div class="container ie-dropdown-fix">
	<!-- Header -->
	#parse("common/header.vm")
	<!-- Header / End -->
	<!-- Navigation -->
	#parse("common/navi.vm")
	<!-- Navigation / End -->
</div>
<!-- 960 Container / End -->
<!-- 960 Container -->
<div class="container">
	<div class="sixteen columns">
		<!-- Page Title -->
		<div id="page-title">
			<h2><a href="/publication/" style='color:#333'>协会刊物</a> <span>/ <a href="/publication/$!{publication.id}.html" style='color:#aaa'>$!{publication.title}</a></span></h2>
			<!-- Portfolio Navi 
			<div id="portfolio-navi">
				<ul>
					<li><a class="prev" href="#"></a></li>
					<li><a class="next" href="#"></a></li>
				</ul>
			</div>
			<div class="clear"></div>
			-->
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->
	</div>
</div>
<!-- 960 Container / End -->
<!-- 960 Container -->
<div class="container">
	<!-- Slider -->
	<div class="sixteen columns">
		<div class="flexslider home">
			<ul class="slides">
				<li><img src="images/portfolio/portoflio-single-01.jpg" alt="" /></li>
				<li><img src="images/portfolio/portoflio-single-02.jpg" alt="" /></li>
			 </ul>
		</div>
	</div>
</div>
<!-- End 960 Container -->
<!-- 960 Container -->
<div class="container" style="margin-top: 30px;">
	<div class="four columns">
		<ul class="project-info">
			<li><strong>Client:</strong> Google</li>
			<li><strong>Date:</strong> August 2012</li>
		</ul>
		<a href="#" class="button color launch">Launch Project</a>
	</div>
	<div class="twelve columns tooltips">
		<div class="six columns alpha"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.Nullam quis risus eget urna mollis ornare.</p></div>
		<div class="six columns alpha"><p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor.</p></div>
	</div>
</div>
<!-- End 960 Container -->
<!-- 960 Container -->
<div class="container">
	<div class="sixteen columns">
		<!-- Headline -->
		<div class="headline" style="margin-top: 5px;"><h3>近期刊物</h3></div>
	</div>
	<!-- 1/4 Column -->
	#foreach($publication in $recentPublications)
	<div class="four columns">
		<div class="picture">
			<a href="/publication/$!{publication.id}.html">
				<img src="$!{publication.coverUrl}" alt="$!{publication.title}" style="height:139px"/>
				<div class="image-overlay-link"></div>
			</a>
		</div>
		<div class="item-description">
			<h5><a href="/publication/${publication.id}.html">$!{publication.title}</a></h5>
			<p>$!{publication.brief}</p>
		</div>
	</div>
	#end
</div>
<!-- 960 Container / End -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->
</body>
</html>