<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8" />
<title>嘉兴市工业设计协会</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/boxed.css" id="layout" />
<link rel="stylesheet" type="text/css" href="/static/css/colors/green.css" id="colors" />

<!-- Java Script
================================================== -->
<script src="/static/js/jquery-1.8.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/selectnav.js"></script>
<script src="/static/js/flexslider.js"></script>
<script src="/static/js/twitter.js"></script>
<script src="/static/js/tooltip.js"></script>
<script src="/static/js/effects.js"></script>
<script src="/static/js/fancybox.js"></script>
<script src="/static/js/carousel.js"></script>
<script src="/static/js/isotope.js"></script>
</head>
<body>

<!-- Content
================================================== -->
<!-- Wrapper Start -->
<div id="wrapper">
<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	#parse("common/header.vm")
	<!-- Header / End -->
	
	<!-- Navigation -->
	#parse("common/navi.vm")
	<!-- Navigation / End -->
	<div class="sixteen columns">
	
		<!-- Page Title -->
		<div id="page-title">
			$viewUtil.getBreadcrumb($curCat.id)
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->

	</div>
</div>
<!-- 960 Container / End -->


<!-- Blog Posts
================================================== -->
<!-- 960 Container -->
<div class="container">
<!-- Widget
================================================== -->
<div class="three columns">
	<!-- Categories -->
	<div class="widget first">
		<div class="headline no-margin"><h4>$rootCat.catName</h4></div>
			<ul class="links-list-alt">
				#foreach($cat in $childrenCats)
				<li class="cats"><a href="/$rootCat.uriName/cat-$cat.id/" #if($cat.id==$curCat.id)style="font-weight:bold"#end>$cat.catName</a></li>
				#end
			</ul>
	</div>

</div>
<div class="nine columns">
	#if($exclusive)
	<!-- Post -->
	<div class="post post-page">
		<div class="post-content" style="margin:0px;">
			#if($exclusiveArticle)
			<div class="post-title" style="text-align: center;"><h2>$!exclusiveArticle.title</h2>
			<h3>$!exclusiveArticle.subhead</h3></div>
			<div class="post-meta" style="text-align: center;"><span><i class="mini-ico-calendar"></i>$!exclusiveArticle.postTime</span> <span><i class="mini-ico-user"></i>来自  $!exclusiveArticle.from</span> </div>
			<div class="post-description">
					$!exclusiveArticle.content
			</div>
			#end
		</div>
	</div>
	#else
	<div class="post" style="padding:0px;margin: 0px 0 20px 0;">
		<div class="post-content"  style="margin:0px;">
			<div class="post-title"><h4><a href="blog_post.html">This is a standard post format with preview picture</a></h4></div>
			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On 10 August, 2012</span></div>
			<a class="post-entry" href="blog_post.html">详细内容</a>
		</div>
	</div>
	<div class="post" style="padding:0px;margin: 0px 0 20px 0;">
		<div class="post-content"  style="margin:0px;">
			<div class="post-title"><h4><a href="blog_post.html">This is a standard post format with preview picture</a></h4></div>
			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On 10 August, 2012</span></div>
			<a class="post-entry" href="blog_post.html">详细内容</a>
		</div>
	</div>
	<div class="post" style="padding:0px;margin: 0px 0 20px 0;">
		<div class="post-content"  style="margin:0px;">
			<div class="post-title"><h4><a href="blog_post.html">This is a standard post format with preview picture</a></h4></div>
			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On 10 August, 2012</span></div>
			<a class="post-entry" href="blog_post.html">详细内容</a>
		</div>
	</div>
	#end
	<div class="clear"></div>
</div>
	<!-- Popular Posts -->
	<div class="four columns">
		<div class="headline no-margin"><h4>Popular Posts</h4></div>
		
		<div class="latest-post-blog">
			<a href="#"><img src="images/popular-post-01.png" alt="" /></a>
			<p><a href="#">Maecenas metus lorem nulla, pretium lipsum.</a> <span>12 August 2012</span></p>
		</div>
	
		<div class="latest-post-blog">
			<a href="#"><img src="images/popular-post-02.png" alt="" /></a>
			<p><a href="#">Tetus lorem maecenas facili lipsum pretium.</a> <span>26 July 2012</span></p>
		</div>
			
		<div class="latest-post-blog">
			<a href="#"><img src="images/popular-post-03.png" alt="" /></a>
			<p><a href="#">Lorem pretium metusnula lorem ipsum dolor.</a> <span>16 June 2012</span></p>
		</div>
	</div>

</div>
<!-- 960 Container / End -->
</div>
<!-- Wrapper / End -->
<!-- Footer Start -->
#parse("common/footer.vm")
<!-- Footer / End -->
<script language="JavaScript">
	$(document).ready(function(){
		$(".cats").hover();
	});
</script>
</body>
</html>